<div class="container">
  <div class="col-md-10">
    <h2>
      Questions
    </h2>
    <hr/>
    <p>
      <%= link_to "New Question", new_question_group_question_path(@question_group), class: "btn btn-primary" %>
    </p>
    <table>
      <colgroup>
        <col>
        <col width="250">
      </colgroup>
      <thead>
        <tr>
          <th>Question</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "question", collection: @questions %>
      </tbody>
    </table>
  </div>
</div>