<div class="container">
    <div class="col-md-10">
        <div id="app-container"></div>
       <% if user_signed_in? %>
            <%= link_to edit_user_registration_path  do %>
             Edit profile
            <% end %>  

            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path%> 

            <%= link_to new_user_session_path do %>
             Login
            <% end %>  
       <% end %>
     </div>
 </div>