<form>
  <p>
    <input type="text" name="name" placeholder="Name" value="{{name}}">
    <input type="text" name="description" placeholder="description" value="{{description}}">
     <input type="color" name="favcolor">
  </p>

  <p>
    <button class="save" data-id="{{id}}">Save</button>
    <button class="cancel">Cancel</button>
  </p>
</form>