<h2>Campaigns</h2>

<button class="create-campaign">Create Campaign</button>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    
  </tr>
  {{#each campaign}}
  <tr class="plane-row" data-id={{id}}>
    <td>{{name}}</td>
    <td>{{description}}</td>
  </tr> 
  {{/each}}
</table>